<!DOCTYPE html>
<html>
  <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
    <table width="100%">
      <tr>
        <td>
          <h2>Hi</h2>
        </td>
      </tr>
      <tr>
        <td>
          Your current password is : <%= @secret_p %>. 
          Please use this password to sign in.
        </td>
      </tr>
      <tr><td>&nbsp;</td></tr>
      <tr>
        <td>
        	Thanks <br />
          Meetcha-Halfway Team
        </td>
      </tr>
    </table>
  </body>
</html>